@import '../main.scss';

.singleWelcome{
    background-image: url('@/assets/img/economy/poster.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 520px;
    &__box{
        background: rgba(255, 255, 255, 0.77);
        padding: 20px 0px;
        // position: sticky;
        // left: 0;
        // top: 64px;
    }
    &__title{
        font-size: 26px;
        font-weight: 700;
    }
    &__breadcrumbs{
        
        @include df-aic;
        margin: 15px -15px 0px;
        .item{
            font-size: 16px;
            padding: 0px 20px;
            margin: -5px;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 2px;
                margin: auto;
                width: 4px;
                height: 4px;
                background-color: #000;
                border-radius: 50%;
                pointer-events: none;
            }
            a{
                padding: 5px;
                span{
                    position: relative;
                    &::after{
                        @include tr(.2s);
                        content: '';
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        width: 0%;
                        height: 1px;
                        background-color: #000;
                    }
                    &:hover{
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
            &:last-child{
                &::after{
                    display: none;
                }
            }
        }
    }
}