@import './reset.scss';
@import './lib/mixins.scss';
@import './lib/colors.scss';

/* ========================================================================== */
/* Fonts */
/* ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* ========================================================================== */
/* Main Settings */
/* ========================================================================== */
body{
    background-color: #f2ede7;
    font-size: 15px;
    font-family: 'Roboto', serif;
    color: #000;
    &.noscroll{
        overflow-y: hidden;
    }
}


button{
    font-family: 'Roboto', serif;
}

.page{
    min-height: 50vh;
}

/* ========================================================================== */
/* Scrollbar */
/* ========================================================================== */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #e3e3e3;
}
::-webkit-scrollbar-thumb {
    background: $colorDarkBlue;
}
::-webkit-scrollbar-thumb:hover {
    background: darken( $colorDarkBlue, 5%); 
}

/* ========================================================================== */
/* Selection */
/* ========================================================================== */
::selection{
    background-color: #244f8fc0;
    color: #fff;
}

/* ========================================================================== */
/* Containers */
/* ========================================================================== */
.container{
    max-width: 1240px;
    width: 100%;
    margin: auto;
    @media (max-width: 1024px) {
        max-width: 100%;
        padding: 0px 20px;
    }
    @media (max-width: 800px) {
        max-width: 750px;
    }
    @media (max-width: 500px) {
        max-width: 100%;
        padding: 0px 20px;
    }
}
